*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
/* medidas recomendadas para usar en todos los proyectos que se vayan a realizar */
p{
    font-size: 1.6rem;
}

main div {
    font-size: 1.6rem;
}